# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.spec
dist/
build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
desktop.ini

# VS Code settings
.vscode/
*.code-workspace

# PyCharm settings
.idea/

# Logs and temp files
*.log
*.tmp

# Assets that shouldn’t be committed (optional)
assets/tmp/
assets/.DS_Store

# Environment variables
.env

# Flaskr
.venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/